@tailwind base;
@tailwind components;
@tailwind utilities;

/* .ant-btn:not([disabled]):hover {
  background:#ee6262 !important;
} */

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

body {
  margin: 0;
  font-family: 'Poppins',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins',
    sans-serif;
}
